.login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.lInput {
  height: 30px;
  padding: 15px;
  margin-bottom: 6px;
}

.lButton {
  border: none;
  padding: 10px 20px;
  background-color: #008000;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.lButton:disabled {
  background-color: #008000;
  cursor: not-allowed;
}
.log {
  text-align: center;
  margin-top: 200px;
}
.log2 {
  text-align: center;
  margin-top: 30px;
}
