.fp {
  width: 90%;
  margin: auto;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
  gap: 20px;
  height: auto;
}

.fpItem {
  position: relative;
  color: white;
  border-radius: 5px;
  overflow: hidden;
  height: 250px;
  display: flex;
  margin-bottom: 20px;
}

.fpImg {
  background-color: #003580;
  opacity: 0.77;
  width: 100%;
  filter: brightness(50%);
}

.fpTitle {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-weight: 900;
}

.fpRating > button {
  background-color: #003580;
  color: white;
  border: none;
  padding: 3px;
  margin-right: 10px;
  font-weight: bold;
}

.fpRating > span {
  font-size: 14px;
}
@media only screen and (max-width: 320px) {
  .fp {
    display: block;
    width: 90%;
    margin: auto;
  }
  .fpitem {
    display: block;
    width: 90%;
  }
  .bet {
    font-size: 22px;
    margin-bottom: 120px;
  }
}
@media only screen and (max-width: 570px) {
  .fp {
    display: block;
    width: 90%;
    margin: auto;
  }
  .fpitem {
    display: block;
    width: 90%;
  }
  .bet {
    font-size: 22px;
    margin-bottom: 120px;
  }
}
